name: "ZP2 integration"
version: "1.0.7-release"
slug: "zp2_integration"
description: "This Home Assistant add-on listens to MQTT messages and automatically handles
  ZP2 firmware checks, OTA updates, and MQTT Discovery for ZP2 devices.
  It enables seamless integration of ZP2 device data into Home Assistant."
startup: "services"
boot: "auto"
arch:
  - aarch64
  - amd64
  - armv7
# url: "https://github.com/YJ-spec/3DRP_ADDON"
init: false


# 這行才是關鍵：讓你可以打 http://supervisor/core/api
homeassistant_api: true

# 對外開放 8099
# ingress: false
# ports:
#   "8099/tcp": 8099
# ports_description:
#   "8099/tcp": "3DRP HTTP API and Status page"

# 在 Add-on 頁面顯示「Open Web UI」按鈕（連到 /status）
# webui: "http://[HOST]:[PORT:8099]/status"
# panel_icon: "mdi:view-list-outline"
ingress: false
ports:
  "8088/tcp": 8088

map:
  - share:rw

options:
  local_ip: "192.168.50.254"
  zp2_fw_profile: "zp2_5_0_20251205_s01"
  zp2_outbound_setup: false
  mqtt_topics: "+/+/data,+/+/control"
  mqtt_broker: "core-mosquitto"
  mqtt_port: 1883
  mqtt_username: "test"
  mqtt_password: "test"



schema:
  local_ip: str
  zp2_outbound_setup: bool       # ← 新增：布林勾選欄位
  zp2_fw_profile: list(zp2_5_0_20251205_s01|test)
  mqtt_topics: str
  mqtt_broker: str
  mqtt_port: int
  mqtt_username: str?
  mqtt_password: str?
  # ota_ip: str

  
